html {
  box-sizing: border-box;
  background-color: var(--white);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.gate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.taima {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taima__start {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 100%;
  cursor: pointer;
  background:
    linear-gradient(90deg, var(--black) 50%, transparent 50%),
    linear-gradient(-90deg, var(--black) 50%, transparent 50%);
}

.taima__start:after {
  content: "";
  display: block;
  position: relative;
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 100%;
  background-color: var(--white);
}

.taima__count {
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--black);
  transform: translateY(-7rem);
}

.taima__reset {
  display: none;
  position: absolute;
  margin-top: 4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--white);
  border: 0.25rem solid var(--black);
  cursor: pointer;
}

.taima__reset--active {
  display: block;
}

.settings {
  display: flex;
  justify-content: center;
}

.settings--hidden {
  visibility: hidden;
}

.settings__length {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  max-width: 3ch;
  text-align: center;
  color: var(--black);
}
